html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7d6cb;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 350px;
  margin-bottom: 5%;
}

.box-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 400ms;
}

.box {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #fbf1ea;
}

.box-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  animation: fadein 900ms;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1 0 auto;
}

p a {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}

p a:hover {
  color: #a97756;
  text-decoration: underline;
  transition: 200ms;
}

/* main box */

.image {
  display: flex;
  height: 200px;
  width: 200px;
  margin-top: 15px;
}

.image img {
  height: 100%;
  border-radius: 50%;
}

.name {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

.name p {
  margin: 4px 4px 10px;
  font-size: 38px;
  font-weight: 500;
}

.job {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

.job p {
  padding-top: 10px;
  margin: 2px;
  border-top: 1px solid #cfad96;
  font-size: 18px;
  font-style: italic;
}

.info {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 85%;
  padding: 2px;
  margin: 0;
  font-size: 13px;
}

.info p {
  margin: 1px;
  padding-bottom: 2px;
  border-bottom: 1px solid #cfad96;
  cursor: pointer;
}

.info p:hover {
  font-weight: 600;
  border-bottom: 1px solid #a97756;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 0;
  height: 55px;
  width: 100%;
  margin-top: 12px;
  background-color: #ffffff;
}

#social {
  font-size: 30px;
}

.footer a {
  padding: 8px;
  color: rgba(0, 0, 0, 0.9);
}

#kaggle-icon {
  font-size: 26px;
  padding-top: 10px;
}

.footer a:hover {
  transition: 100ms;
  padding-top: 6px;
  color: #bf9173;
}

#kaggle-icon:hover {
  padding-top: 7px;
}

/* about box */

.title {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

.title p {
  margin: 10px 4px;
  font-size: 30px;
  font-weight: 500;
}

.about-desc {
  justify-content: center;
  flex-direction: column;
  height: 285px;
  width: 99%;
  overflow: auto;
}

.about-desc p {
  margin: 8px 20px 2px;
  font-style: italic;
  text-indent: 12px;
  text-align: justify;
}

.footer-close {
  cursor: pointer;
}

.footer-close:hover {
  color: #bf9173;
  font-weight: 700;
  border-bottom: 1px solid #a97756;
}

/* projects box */

.projects-field {
  flex-direction: column;
  align-items: center;
  width: 99%;
  height: 285px;
  overflow: auto;
}

.project-wrap {
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  padding: 0 17px 0 20px;
}

.project-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  font-weight: 500;
}

.project-title p {
  margin: 2px 0;
}

.project-title i {
  color: rgba(0, 0, 0, 0.9);
  font-size: 19px;
  padding: 2px 4px;
}

.project-title i:hover {
  color: #bf9173;
  font-size: 21px;
  padding: 1px 3px 1px 4px;
  transition: 100ms;
}

.project-desc {
  margin-top: -10px;
  font-style: italic;
}

.project-techs {
  margin: -8px 0 20px;
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.projects-more {
  margin: 2px;
  width: 99%;
  text-align: center;
}

.projects-more p {
  margin: 0 20px;
}

/* custom scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #d3beb0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cfad96;
}

/* animations & transitions */

.is-flipped {
  transform: rotateY(-180deg);
}

#about-box {
  transform: rotateY(180deg);
}

#projects-box {
  transform: rotateY(180deg);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* for smaller screens */

@media only screen and (max-width: 450px) {
  .container {
    width: 300px;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    width: 265px;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }
}
